/* Reglas Generales */
.link {
    text-decoration: none;
    color: black;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Bangers', cursive;
    letter-spacing: 3px;
    font-size: 25px;
    color: #fcbf1e;
}
h2 {
    font-size: 55px;
    justify-items: center;
    margin: 40px auto;
    background-color: #01437c9c;
    padding: 30px;
    border-radius: 40px;
}
h2:hover {
    background-color: #01437cd2;
}
body {
    font-family: 'Bree Serif', serif;
    margin: 0;
    background-color: #035aa6;
}
body p {
    color: white;
}

section {
    /* border: 2px solid red; */
    box-sizing: border-box;
}
/* Parte principal */
.principal {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* Configuracion General Header */
.header {
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: space-between;
    background-color: #120136;
    padding-left: 0.5%;
    padding-right: 6%;
    box-sizing: border-box;
    /* position: fixed; */
    /* margin-top: -80px; */
}
.header img {
    margin-top: 5px;
    width: 70px;
}
.header ul {
    display: flex;
    list-style: none;
}
.header ul li {
    margin: 10px;
    border-right: 1px solid white;
    border-left: 1px solid white;
    box-sizing: border-box;
    padding: 7px;
}
.header ul li:hover {
    border-right: 0;
    border-left: 0;
    border-top: 1px solid white;
    border-bottom: 1px solid white;

}
.header ul li a {
    color: white;
}
/* Aqui esta la seccion donde muestro lo que he aprendido */

.aprendido {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    object-fit: cover;
    padding: 20px;

}
.aprendido article {
    height: 400px;
    width: 400px;
    object-fit: cover;
    margin: 0 50px;
    flex-wrap: wrap;
    display: inherit;
    justify-content: center;
    margin-bottom: 40px;
    background-color: #0169c48a;
    border-radius: 40px;
    padding: 10px 40px;
    padding-bottom: 40px;
    border: 2px solid black;
}
.aprendido h3 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 0;
}
.aprendido img {
    margin: 0px 40px;
}
/* .aprendido img:hover {
    width: 110%;
    height: 110%;
} */
.aprendido p {
    text-align: left;
    width: 300px;
    height: 120px;
}

/* En esta parte va lo que me gusta */

.Ilike {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    object-fit: cover;
    justify-content: space-evenly;
}
.Ilike article {
    display: flex;
    /* border: 1px solid salmon; */
    height: 400px;
    width: 400px;
    margin: 20px 3px;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #0169c48a;
    border-radius: 20px;
    border: 1px solid black;
}
.Ilike h3 {
    border: 1px solid black;
    height: 40px;
    margin-top: 27px;
    margin-bottom: 0;
    font-size: 50px;
    position: absolute;
    background-color: #0169c4c2;
    padding: 5px 10px 15px 10px;
    border-radius: 20px;
}
.Ilike img {
    border-radius: 40px;
    margin-left: 10px;
    border: 1px solid black;
    width: 330px;
}

/* Aqui mostraria mis agradecimientos a platzi */

.agradecimiento {
    display: flex;
    background-color:#092532;
    justify-content: center;
    align-items: baseline;
    width: 100%;
    height: 220px;
    padding: 20px;

}
.agradecimiento-contenedor {
    display: flex;
    background-color: transparent;
    vertical-align: middle;
    align-items: center;
    flex-direction: column;
}
.agradecimiento-principal {
    display: flex;
    align-items: center;
}
.agradecimiento-principal h3 {
    margin: 10px;
    font-size: 35px;
}
.agradecimiento-contenedor p {
    margin-left: 13px;
    margin-top: 8px;
    font-size: 20px;
}

/* Este seria mi footer, que es bastante sencillo ya que no tengo mucho que mostrar :V */

.footer {
    background-color: #092532 ;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
}

.contenedor-footer {
    /* margin: 0 0; */
}
.footer p {
    margin: inherit;
    height: 40px;
    font-size: 20px;
    letter-spacing: 1px;
    font-family: inherit;
}

.footer a {
    color: #40bad5;
    font-weight: 700;
}